

@media screen and(min-width: 320px) and(max-width: 459px) {
	.row {
		margin-left: -24px;
	}
	.col {
		border-left-width: 24px;
		padding: 0;
	}
	.opl {
		top: 17px;
	}
	.menu-icon {
		top: 27px;
		left: 27px;
	}
	.home-title {
		margin-left: 0;
		width: 100%;
		h1 {
			font-size: 1.6875rem;
			font-size: 27px;
		}
		h2 {
			font-size: 0.8125rem;
			font-size: 13px;
			letter-spacing: 3px;
		}
	}
	.about-title {
		margin-left: 0;
		width: 100%;
		h3 {
			font-size: 1.3125rem;
			font-size: 21px;
		}
	}
	.work-title {
		margin-left: 0;
		width: 100%;
		h3 {
			font-size: 1.3125rem;
			font-size: 21px;
		}
	}
	.contact-title {
		margin-left: 0;
		width: 100%;
		h3 {
			font-size: 1.3125rem;
			font-size: 21px;
		}
	}
	.services-team {
		margin-left: 0;
		width: 100%;
		ul {
			margin-bottom: 0;
		}
	}
	.social {
		[class^="icon-"] {
			margin: 0 3px;
		}
		[class*=" icon-"] {
			margin: 0 3px;
		}
	}
	.span_1 {
		width: 8.33333333333%;
	}
	.span_2 {
		width: 16.6666666667%;
	}
	.span_3 {
		width: 25.0%;
	}
	.span_4 {
		width: 33.3333333333%;
	}
	.span_5 {
		width: 41.6666666667%;
	}
	.span_6 {
		width: 50.0%;
	}
	.span_7 {
		width: 58.3333333333%;
	}
	.span_8 {
		width: 66.6666666667%;
	}
	.span_9 {
		width: 75.0%;
	}
	.span_10 {
		width: 83.3333333333%;
	}
	.span_11 {
		width: 91.6666666667%;
	}
	.span_12 {
		margin-left: 0;
		width: 100%;
	}
	.about-description {
		margin-left: 0;
		width: 100%;
	}
	.services-design {
		margin-left: 0;
		width: 100%;
	}
	.services-frontend {
		margin-left: 0;
		width: 100%;
	}
	.work-description {
		margin-left: 0;
		width: 100%;
	}
	.work-item {
		margin-left: 0;
		width: 100%;
	}
	.contact-description {
		margin-left: 0;
		width: 100%;
	}
	.f1 {
		margin-left: 0;
		width: 100%;
	}
	.menu ul {
		padding-top: 80px;
		li a {
			padding: 9px 0 9px 27px;
			font-size: 1.3125rem;
			font-size: 21px;
		}
	}
	#about .empty {
		display: none;
	}
	#work .empty {
		display: none;
	}
	#contact .empty {
		display: none;
	}
	.services-content ul {
		margin-bottom: 60px;
		li {
			font-size: 1rem;
			font-size: 16px;
			line-height: 1.875rem;
			line-height: 30px;
		}
	}
}
@media screen and(min-width: 460px) and(max-width: 779px) {
	.row {
		margin-left: -24px;
	}
	.col {
		border-left-width: 24px;
		padding: 0;
	}
	.opl {
		top: 17px;
	}
	.home-title {
		margin-left: 0;
		width: 100%;
		h1 {
			font-size: 1.6875rem;
			font-size: 27px;
		}
		h2 {
			font-size: 0.8125rem;
			font-size: 13px;
			letter-spacing: 3px;
		}
	}
	.about-title {
		margin-left: 0;
		width: 100%;
		h3 {
			font-size: 1.3125rem;
			font-size: 21px;
		}
	}
	.work-title {
		margin-left: 0;
		width: 100%;
		h3 {
			font-size: 1.3125rem;
			font-size: 21px;
		}
	}
	.contact-title {
		margin-left: 0;
		width: 100%;
		h3 {
			font-size: 1.3125rem;
			font-size: 21px;
		}
	}
	.menu-icon {
		top: 27px;
		left: 27px;
	}
	.span_1 {
		width: 8.33333333333%;
	}
	.span_2 {
		width: 16.6666666667%;
	}
	.span_3 {
		width: 25.0%;
	}
	.span_4 {
		width: 33.3333333333%;
	}
	.services-design {
		width: 33.3333333333%;
	}
	.services-frontend {
		width: 33.3333333333%;
	}
	.services-team {
		width: 33.3333333333%;
	}
	.span_5 {
		width: 41.6666666667%;
	}
	.span_6 {
		width: 50.0%;
	}
	.work-item {
		width: 50.0%;
	}
	.span_7 {
		width: 58.3333333333%;
	}
	.span_8 {
		width: 66.6666666667%;
	}
	.about-description {
		width: 66.6666666667%;
	}
	.work-description {
		width: 66.6666666667%;
	}
	.contact-description {
		width: 66.6666666667%;
	}
	.span_9 {
		width: 75.0%;
	}
	.span_10 {
		width: 83.3333333333%;
	}
	.span_11 {
		width: 91.6666666667%;
	}
	.span_12 {
		margin-left: 0;
		width: 100%;
	}
	.f1 {
		margin-left: 0;
		width: 100%;
	}
	.menu ul {
		padding-top: 80px;
		li a {
			font-size: 1.3125rem;
			font-size: 21px;
			padding: 9px 0 9px 27px;
		}
	}
	.services-content ul li:first-child {
		font-size: 0.8125rem;
		font-size: 13px;
	}
	#about .empty {
		width: 16.6666666667%;
	}
	#work .empty {
		width: 16.6666666667%;
	}
	#contact .empty {
		width: 16.6666666667%;
	}
}
@media screen and(min-width: 780px) and(max-width: 1199px) {
	.row {
		margin-left: -24px;
	}
	.col {
		border-left-width: 24px;
		padding: 0;
	}
	.span_1 {
		width: 8.33333333333%;
	}
	.span_2 {
		width: 16.6666666667%;
	}
	.span_3 {
		width: 25.0%;
	}
	.span_4 {
		width: 33.3333333333%;
	}
	.services-design {
		width: 33.3333333333%;
	}
	.services-frontend {
		width: 33.3333333333%;
	}
	.services-team {
		width: 33.3333333333%;
	}
	.work-item {
		width: 33.3333333333%;
	}
	.span_5 {
		width: 41.6666666667%;
	}
	.span_6 {
		width: 50.0%;
	}
	.span_7 {
		width: 58.3333333333%;
	}
	.span_8 {
		width: 66.6666666667%;
	}
	.about-description {
		width: 66.6666666667%;
	}
	.work-description {
		width: 66.6666666667%;
	}
	.contact-description {
		width: 66.6666666667%;
	}
	.span_9 {
		width: 75.0%;
	}
	.span_10 {
		width: 83.3333333333%;
	}
	.span_11 {
		width: 91.6666666667%;
	}
	.span_12 {
		margin-left: 0;
		width: 100%;
	}
	.home-title {
		margin-left: 0;
		width: 100%;
	}
	.about-title {
		margin-left: 0;
		width: 100%;
	}
	.work-title {
		margin-left: 0;
		width: 100%;
	}
	.contact-title {
		margin-left: 0;
		width: 100%;
	}
	.f1 {
		margin-left: 0;
		width: 100%;
	}
	#about .empty {
		width: 16.6666666667%;
	}
	#work .empty {
		width: 16.6666666667%;
	}
	#contact .empty {
		width: 16.6666666667%;
	}
}
@media screen and(min-width: 1200px) {
	.row {
		margin-left: -24px;
	}
	.col {
		border-left-width: 24px;
		padding: 0;
	}
	.span_1 {
		width: 8.33333333333%;
	}
	.span_2 {
		width: 16.6666666667%;
	}
	.span_3 {
		width: 25.0%;
	}
	.span_4 {
		width: 33.3333333333%;
	}
	.services-frontend {
		width: 33.3333333333%;
	}
	.services-design {
		width: 33.3333333333%;
	}
	.services-team {
		width: 33.3333333333%;
	}
	.work-item {
		width: 33.3333333333%;
	}
	.span_5 {
		width: 41.6666666667%;
	}
	.span_6 {
		width: 50.0%;
	}
	.about-description {
		width: 50.0%;
	}
	.work-description {
		width: 50.0%;
	}
	.contact-description {
		width: 50.0%;
	}
	.span_7 {
		width: 58.3333333333%;
	}
	.span_8 {
		width: 66.6666666667%;
	}
	.span_9 {
		width: 75.0%;
	}
	.span_10 {
		width: 83.3333333333%;
	}
	.span_11 {
		width: 91.6666666667%;
	}
	.span_12 {
		margin-left: 0;
		width: 100%;
	}
	.home-title {
		margin-left: 0;
		width: 100%;
	}
	.about-title {
		margin-left: 0;
		width: 100%;
	}
	.work-title {
		margin-left: 0;
		width: 100%;
	}
	.contact-title {
		margin-left: 0;
		width: 100%;
	}
	.f1 {
		margin-left: 0;
		width: 100%;
	}
	#about .empty {
		width: 25.0%;
	}
	#work .empty {
		width: 25.0%;
	}
	#contact .empty {
		width: 25.0%;
	}
}






.row [class$="-content"] {
	overflow: hidden;
}
.home-tittle a {

	transition: opacity 0.2s 1.6s ease-out;
}
.icon-twitter:before {
	content: "\e600";
}
.icon-linkedin:before {
	content: "\e601";
}
.icon-instagram:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e603";
}