

 
%extend_1 {
	list-style: none;
	padding: 0;
	margin: 0;
}
 
%extend_2 {
	width: 41px;
	height: 2px;
	display: inline-block;
	position: absolute;
	left: 0;
	content: "";
	// 
	 
	transition: top 0.2s 0.2s ease-out, transform 0.2s -out;
}

//original  
 
%extend_3 {
	 
	transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out, background 0.2s ease-out;
	top: 0;
	width: 41px;

}

//original  
 
%extend_4 {
	text-align: center;
	overflow: hidden;
	padding: 150px 0;
}

 
//.about-content h3, .services-content h3, .work-content h3, .contact-content h3, .footer h3
%extend_5 {

	font-size: 2.25rem;
	font-size: 27px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 45px;

}


//.about-content p, .services-content p, .work-content p, .contact-content p, .footer p
%extend_6 {
	font-size: 1.125rem;
	font-size: 18px;
	line-height: 2.25rem;
	line-height: 36px;
 
}

 
//.social  icon 
%extend_7 {

	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.6875rem;
	font-size: 27px;
	line-height: 1rem;
	line-height: 16px;
	padding: 6px;
	margin: 0 27px;
	 
	transition: color 0.3s ease;
}
