//colors
$color_shuttle_gray_approx: #f83e89;
$white: #fff;
$yellow: #ffff00;
$color_log_cabin_approx: #222;
$color_razzmatazz_approx: #f10061;
$white_20: rgba(255, 255, 255, 0.2);
$color_violet_red_approx: #f83e89;
$color_chartreuse_80_approx: rgba(246, 0, 120, 0.6);
$black: #000;
$color_storm_dust_approx: #666;
$black_50: rgba(0,0,0, .5);
$black_100: rgba(0, 0, 0, 1);

//fonts
$font_0: icon;
$font_1: Lato;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;

//urls
$url_0: url(../fonts/icon.eot);
$url_1: url(../fonts/icond41d.eot?#iefix);
$url_2: url(../fonts/icon.woff);
$url_3: url(../fonts/icon.ttf);
$url_4: url(../fonts/icon.svg#icon);
$url_5: url(../img/header-bg.jpg);